html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: $smm-default-font;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  //font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.behind {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.rightAligned {
    float: right;
}

.card {
    background: white;
    padding: 30px;
}

.bottom {
    position: absolute;
    left: 0px;
    bottom: 0px;
}
